version: "3.9"

services:
  pubsub:
    image: nginx
    volumes:
      - ./:/usr/share/nginx/html
    ports:
      - 8000:80

  sfu:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "5000-5200:5000-5200/udp"
      - 7000:7000
