name: test

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Run tests
        run: go test -v ./...
